body{
  background-color: powderblue;
}

img{
  height: 60%;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}
h1{
  color: #852E22;
}
h3{
  color: #852E22;
}
em{
font-size: large;
}
.move{
  position: relative;
  
     bottom:  100px;
      left: 50px;
}
.top{
  position: relative;
    bottom:  100px;
      left:35px;
}
