body{
  background-color: powderblue;
  font-family: 'Merriweather',serif;
}

img{
  height: 60%;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}
h1{
  color: #852E22;
  font-family: 'Sacramento', cursive;
    font-size: 4rem;
}
h3{
  color: #852E22;
}
em{
font-size: large;
}
.move{
  position: relative;
  
     bottom:  100px;
      left: 40px;
}
.top{
  position: relative;
    bottom:  100px;
      left:25px;
}
.home{
  position: relative;
    bottom:  100px;
      left:15px;
}
